<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.TAntiqueDetailMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.TAntiqueDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="aid" jdbcType="INTEGER" property="aid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="material" jdbcType="VARCHAR" property="material" />
    <result column="typeid" jdbcType="INTEGER" property="typeid" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="year" jdbcType="VARCHAR" property="year" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="crate_time" jdbcType="TIMESTAMP" property="crateTime" />
  </resultMap>
  <resultMap type="com.company.project.dto.TAntiqueDetailDTO" id="TAntiqueDetailDTOMap">
  	<id column="id" jdbcType="INTEGER" property="id" /> 
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="material" jdbcType="VARCHAR" property="material" />
    <result column="typeid" jdbcType="INTEGER" property="typeid" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="year" jdbcType="INTEGER" property="year" />
    <result column="number" jdbcType="VARCHAR" property="number" />
    <result column="img" jdbcType="VARCHAR" property="img" /> 
    <result column="yearname" jdbcType="VARCHAR" property="yearname" />
    <result column="typename" jdbcType="VARCHAR" property="typename" />
    <result column="sourcename" jdbcType="VARCHAR" property="sourcename" /> 
    <result column="sizes" jdbcType="VARCHAR" property="sizes" /> 
    <result column="weights" jdbcType="VARCHAR" property="weights" /> 
    <result column="explain" jdbcType="VARCHAR" property="explain" /> 
  </resultMap>
  <select id="selectTAntiqueDetailByCondition" parameterType="map" resultMap="TAntiqueDetailDTOMap">
  			select t1.*,t2.VALUEE typename,t3.VALUEE sourcename ,t4.VALUEE yearname from t_antique_detail t1
  			left join t_dict t2 on t1.typeid = t2.KEYY and T2.TYPE_CODE='goods_category' 
  			left join t_dict t3 on t1.sid = t3.KEYY and T3.TYPE_CODE='goods_source' 
  			left join t_dict t4 on t1.year = t4.KEYY and T4.TYPE_CODE='goods_years' 
  			where 1=1  and status=3
  			<if test="aid != null">
  			    and t1.aid =#{aid}
  			</if>
  			<if test="typeid !=null">
  			 	and t1.typeid =#{typeid}
  			</if>
  			<if test="sid !=null">
  				and t1.sid =#{sid}
  			</if>
  			<if test="year !=null">
  				and t1.year =#{year}
  			</if>
  			<if test="id !=null">
  				and t1.id =#{id}
  			</if>
  </select>
  
  <select id="selectCountAntiqueDetailDTO" parameterType="com.company.project.dto.AntiqueDetailDTO" resultType="int">
  			select count(1) from t_antique_detail where syncid=#{id} and syncid is not null
  </select>
  <delete id="deleteCountAntiqueDetailDTO" parameterType="com.company.project.dto.AntiqueDetailDTO" >
  			delete from t_antique_detail where syncid=#{id} and syncid is not null
  </delete>
  <update id="updateCountAntiqueDetailDTO" parameterType="com.company.project.dto.AntiqueDetailDTO" >
  			update t_antique_detail set aid=#{aid},name=#{goodsName},material=#{material},typeid=#{typeid},sid=#{sid},year=#{yid},number=#{goodsNum},
  			sizes=#{sizeDesc},weights=#{weight},explains=#{goodsSynopsis},img=#{listPageImgStr},status=#{status} where syncid=#{id} and syncid is not null
	</update>
  <insert id="insertCountAntiqueDetailDTO" parameterType="com.company.project.dto.AntiqueDetailDTO" >
            insert into t_antique_detail(`aid`,`name`,`material`,`typeid`,`sid`,`year`,`number`,`sizes`,`weights`,`explains`,`img`,`status`,`syncid`)
            values (#{aid},#{goodsName},#{material},#{typeid},#{sid},#{yid},#{goodsNum},#{sizeDesc},#{weight},#{goodsSynopsis},#{listPageImgStr},#{status},#{id})
  </insert>
</mapper>