<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.TArticleMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.TArticle">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="robj" jdbcType="INTEGER" property="robj" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="r_time" jdbcType="TIMESTAMP" property="rTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="abstract" jdbcType="VARCHAR" property="abstract" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="crate_time" jdbcType="TIMESTAMP" property="crateTime" />
    <result column="context" jdbcType="LONGVARCHAR" property="context" />
  </resultMap>
  <select id="selectTArticleByMap" parameterType="map" resultMap="BaseResultMap">
     select * from `t_article` where 1=1 
     <if test="mtype == 1">
         and robj in (1,3)
     </if>
      <if test="mtype == 2">
         and robj in (2,3)
     </if>
     <if test="mtype == 3">
         and robj in (4)
     </if>
  </select>
  
  <select id="selectpagehomebanner"  parameterType="map" resultType="map">
  		SELECT id,resUrl resurl,TYPES,previewImg FROM   `t_pagehome_banner` where 1=1
  		<if test="mtype == 1">
         and robj in (1,3)
     </if>
      <if test="mtype == 2">
         and robj in (2,3)
     </if>
     <if test="mtype == 3">
         and robj in (3)
     </if>
  </select>
</mapper>