<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.TExperienceDetailMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.TExperienceDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="explain" jdbcType="VARCHAR" property="explain" />
    <result column="crate_time" jdbcType="TIMESTAMP" property="crateTime" />
     <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <select id="selectTExperienceDetailByMap" parameterType="map" resultMap="BaseResultMap">
  	SELECT t1.* ,(SELECT COUNT(1) FROM t_otherreservations WHERE LOCATE(CONCAT(',',t1.`id`,','),eids)>0 ) COUNT

	FROM `t_experience_detail` t1 where 1=1
	<if test="id != null ">
	   and t1.id = #{id}
	</if>
  
  </select>
</mapper>