<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.TMemberMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.TMember">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="memberName" jdbcType="VARCHAR" property="membername" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="memberNumber" jdbcType="VARCHAR" property="membernumber" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="crate_time" jdbcType="TIMESTAMP" property="crateTime" />
    <result column="open_time" jdbcType="TIMESTAMP" property="openTime" />
    <result column="refereeName" jdbcType="VARCHAR" property="refereename" />
    <result column="refereePhone" jdbcType="VARCHAR" property="refereephone" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="isTemp" jdbcType="INTEGER" property="istemp" />
    <result column="openType" jdbcType="INTEGER" property="opentype" />
    <result column="surplusAmount" jdbcType="DECIMAL" property="surplusamount" />
    <result column="validity_time" jdbcType="TIMESTAMP" property="validityTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="wxAccount" jdbcType="VARCHAR" property="wxaccount" />
    <result column="acatar" jdbcType="VARCHAR" property="acatar" />
    <result column="captcha" jdbcType="VARCHAR" property="captcha" />
    <result column="idCode" jdbcType="VARCHAR" property="idcode" />
    <result column="openUserId" jdbcType="INTEGER" property="openuserid" />
    <result column="openUserName" jdbcType="VARCHAR" property="openusername" />
  </resultMap>
  <insert id="insertTMemberByTMember" parameterType="com.company.project.model.TMember">
  		insert into t_member
  	   <trim prefix="(" suffix=")" suffixOverrides="," >
  	   		 
  	   		 <if test="membername != null" >
       				 memberName,
     		 </if>
     		  <if test="password != null" >
       				 password,
     		 </if>
     		 <if test="phone != null" >
       				 phone,
     		 </if>
     		 <if test="membernumber != null" >
       				 memberNumber,
     		 </if>
     		 <if test="refereename != null" >
       				 refereeName,
     		 </if>
     		 <if test="refereephone != null" >
       				 refereePhone,
     		 </if>
     		  <if test="istemp != null" >
       				 isTemp,
     		 </if>
     		  <if test="opentype != null" >
       				 openType,
     		 </if>
     		  <if test="openid != null" >
       				 openid,
     		 </if>
     		 <if test="wxaccount != null" >
       				 wxAccount,
     		 </if>
     		  <if test="acatar != null" >
       				 acatar,
     		 </if>
     		  <if test="captcha != null" >
       				 captcha,
     		 </if>
     		  <if test="idcode != null" >
       				 idCode,
     		 </if>
     		 <if test="captchaTime != null" >
       				 captchaTime,
     		 </if>
     		 
     		 
  	   </trim>
  	   <trim prefix="values (" suffix=")" suffixOverrides="," >
  	       <if test="membername != null" >
       				 #{membername},
     		 </if>
     		  <if test="password != null" >
       				 #{password },
     		 </if>
     		 <if test="phone != null" >
       				 #{phone},
     		 </if>
     		 <if test="membernumber != null" >
       				  #{membernumber},
     		 </if>
     		 <if test="refereename != null" >
       				#{refereename},
     		 </if>
     		 <if test="refereephone != null" >
       				 #{refereephone},
     		 </if>
     		  <if test="istemp != null" >
       				 #{istemp},
     		 </if>
     		  <if test="opentype != null" >
       				 #{opentype},
     		 </if>
     		  <if test="openid != null" >
       				 #{openid},
     		 </if>
     		 <if test="wxaccount != null" >
       				 #{wxaccount},
     		 </if>
     		  <if test="acatar != null" >
       				 #{acatar},
     		 </if>
     		  <if test="captcha != null" >
       				 #{captcha},
     		 </if>
     		  <if test="idcode != null" >
       				  #{idcode},
     		 </if>
     		  <if test="captchaTime != null" >
       				  #{captchaTime},
     		 </if>
  	    </trim>
  </insert>
  <update id="updateTMemberByTMember"  parameterType="com.company.project.model.TMember">
	  	UPDATE t_member
	 <trim prefix="set" suffixOverrides=",">
	  <if test="password!=null">password=#{password},</if>
	  <if test="phone!=null">phone=#{phone},</if>
	  <if test="membername!=null">memberName=#{membername},</if>
	  <if test="refereename!=null">refereeName=#{refereename},</if>
	  <if test="refereephone!=null">refereePhone=#{refereephone},</if>
	  <if test="istemp!=null">isTemp=#{istemp},</if>
	  <if test="opentype!=null">openType=#{opentype},</if>
	  <if test="openid!=null">openid=#{openid},</if>
	   <if test="wxaccount!=null">wxAccount=#{wxaccount},</if>
	    <if test="acatar!=null">acatar=#{acatar},</if>
	     <if test="idcode!=null">idCode=#{idcode},</if>
	     <if test="captcha!=null">captcha=#{captcha},</if>
	     <if test="captchaTime!=null">captchaTime=#{captchaTime},</if>
	     
	 </trim>
	 WHERE 1=1 
	 <if test=" id !=null">
	   and  id=#{id}
	 </if>
	<if test=" phone !=null">
	   and  phone=#{phone}
	 </if>
 </update>
  <select id="selectTMemberByMap" parameterType="map" resultMap="BaseResultMap">
  	select * from t_member where 1=1
  	<if test="id !=null">
	  	  and  id=#{id}
  	</if>
  	<if test=" phone !=null">
	   and  phone=#{phone}
	 </if> 
	  <if test=" openid !=null">
	   and  openid=#{openid}
	 </if>
	  
  </select>
</mapper>